<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @room.name %>
</p>

<p>
  <strong>Width:</strong>
  <%= @room.width %>
</p>

<p>
  <strong>Length:</strong>
  <%= @room.length %>
</p>

<%= link_to 'Edit', edit_room_path(@room) %>

<h2>Add a thing:</h2>
<%= form_with(model: [ @room, @room.things.build ], local: true) do |form| %>
  <p>
    <%= form.label :name %><br>
    <%= form.text_field :name %>
  </p>
  <p>
    <%= form.label :width %><br>
    <%= form.text_area :width %>
  </p>
    <p>
    <%= form.label :length %><br>
    <%= form.text_area :length %>
  </p>
    <p>
    <%= form.label :xPos %><br>
    <%= form.text_area :xPos %>
  </p>
    <p>
    <%= form.label :yPos %><br>
    <%= form.text_area :yPos %>
  </p>
  <p>
    <%= form.submit %>
  </p>
<% end %>


<%= link_to 'Back', rooms_path %>
